/*
 Filename: FreshSizeTheme.css
 Written by: Carlos Bustos (CB)
 Purpose: Style for FreshSizeTheme
 Date: April 25, 2017
 Original Build
 */

html {
	
}
body {
	
}

h2{
	text-align: center;
}
#logo {
	width:100%; 
    height:100%; 
	display: block;
    margin-left: auto;
    margin-right: auto
}

fieldset {
	text-align: left;
	border: 2px;
}
p {
	text-align: left;
	border: 1px;
}
